<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>XB-NEWS: X-ray Binary New Early Warning System</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/datepicker.css">
    <link rel="stylesheet" href="../../static/css/ladda-themeless.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--Include your brand here-->
        <a class="navbar-brand" href="#">Pipeline Overview</a>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6">
        </div>
    </div>
</div>

<div class="container">

    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
            <td>Go to:</td>
            <td>
            {% if running == 1 %}
                Pipeline Controller: <font color="Lime">Running</font>
            {% else %}
                <font color="Red"><h2>ATTENTION: The pipeline controller is NOT RUNNING!</h2></font>
            {% endif %}
            </td>
            </tr>
            <tr>
            <td><a href="../..">Home Page</a></td>
            <td><a href="../../pipeline">Pipeline Overview</a></td>
            </tr>
            <tr>
            <td><a href="../../targets">Target List</a></td>
            <td><a href="../../pipeline/failures">Pipeline Failures</a></td>
            </tr>
            <tr>
            <td><a href="../../targets/download-matrix">Target Download-Matrix</a></td>
            <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Example row of columns -->

    <header><h2>Master Dark Frames - Summary By Config:</h2></header>

    <br>Numbers under each stage column are:
    <br><font color="orange">To Be Processed</font> /
        <font color="green">Success</font> /
        <font color="red">Failed</font>
    <br>
    <br>


    <div class="panel panel-primary">
        <div class="panel-heading">Master Dark Frames (ORAC) - Summary By Config -
                                   [<a href="../../pipeline"><font color="white">back to "Pipeline Overview"</font></a>]</div>
        <div class="panel-body">

            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                <th align=left>Site</th>
                <th align=left>Telescope</th>
                <th align=left>Instrument</th>
                <th align=left>Start Night</th>
                <th align=left>End Night</th>
                <th align=left>Stage 1</th>
                </tr>
                </thead>

                <tbody>

                {% for item in orac_config_uniq %}
                    {% set count = loop.index - 1 %}
                    {% set item_bits = item.split('_') %}
                    <tr>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[0] }}</a></td>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[2] }}</a></td>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[3] }}</a></td>
                    <td>{{ masterdark_orac_start_night[count] }}</td>
                    <td>{{ masterdark_orac_end_night[count] }}</td>
                    {% if masterdark_orac_s1_nprocess[count] > 0 %}
                    <td style="background-color:#f1f0f0"><font color="orange">{{ masterdark_orac_s1_nprocess[count] }}</font> /
                                                         <font color="green">{{ masterdark_orac_s1_nsuccess[count] }}</font> /
                                                         <font color="red">{{ masterdark_orac_s1_nfailed[count] }}</font></td>
                    {% elif masterdark_orac_s1_nprocess[count] == 0 and masterdark_orac_s1_nsuccess[count] == 0 and masterdark_orac_s1_nfailed[count] > 0 %}
                    <td style="background-color:#fccfc7"><font color="orange">{{ masterdark_orac_s1_nprocess[count] }}</font> /
                                                         <font color="green">{{ masterdark_orac_s1_nsuccess[count] }}</font> /
                                                         <font color="red">{{ masterdark_orac_s1_nfailed[count] }}</font></td>
                    {% else %}
                    <td><font color="orange">{{ masterdark_orac_s1_nprocess[count] }}</font> /
                        <font color="green">{{ masterdark_orac_s1_nsuccess[count] }}</font> /
                        <font color="red">{{ masterdark_orac_s1_nfailed[count] }}</font></td>
                    {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

    <br>

    <div class="panel panel-primary">
        <div class="panel-heading">Master Dark Frames (BANZAI) - Summary By Config -
                                   [<a href="../../pipeline"><font color="white">back to "Pipeline Overview"</font></a>]</div>
        <div class="panel-body">

            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                <th align=left>Site</th>
                <th align=left>Telescope</th>
                <th align=left>Instrument</th>
                <th align=left>Start Night</th>
                <th align=left>End Night</th>
                <th align=left>Stage 1</th>
                </tr>
                </thead>

                <tbody>

                {% for item in banzai_config_uniq %}
                    {% set count = loop.index - 1 %}
                    {% set item_bits = item.split('_') %}
                    <tr>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[0] }}</a></td>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[2] }}</a></td>
                    <td><a href="../../pipeline/by_type_config_night/dark/{{ item_bits[1] }}/{{ item_bits[2] }}/{{ item_bits[3] }}">{{ item_bits[3] }}</a></td>
                    <td>{{ masterdark_banzai_start_night[count] }}</td>
                    <td>{{ masterdark_banzai_end_night[count] }}</td>
                    {% if masterdark_banzai_s1_nprocess[count] > 0 %}
                    <td style="background-color:#f1f0f0"><font color="orange">{{ masterdark_banzai_s1_nprocess[count] }}</font> /
                                                         <font color="green">{{ masterdark_banzai_s1_nsuccess[count] }}</font> /
                                                         <font color="red">{{ masterdark_banzai_s1_nfailed[count] }}</font></td>
                    {% elif masterdark_banzai_s1_nprocess[count] == 0 and masterdark_banzai_s1_nsuccess[count] == 0 and masterdark_banzai_s1_nfailed[count] > 0 %}
                    <td style="background-color:#fccfc7"><font color="orange">{{ masterdark_banzai_s1_nprocess[count] }}</font> /
                                                         <font color="green">{{ masterdark_banzai_s1_nsuccess[count] }}</font> /
                                                         <font color="red">{{ masterdark_banzai_s1_nfailed[count] }}</font></td>
                    {% else %}
                    <td><font color="orange">{{ masterdark_banzai_s1_nprocess[count] }}</font> /
                        <font color="green">{{ masterdark_banzai_s1_nsuccess[count] }}</font> /
                        <font color="red">{{ masterdark_banzai_s1_nfailed[count] }}</font></td>
                    {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>


    <footer>
        <hr>
        Web page generation performance:
        <br>Data read: {{ t1 }} s
        <br>Data analysis: {{ t2 }} s
        <br>
        <hr>
        <p><b>X-ray Binary New Early Warning System</b> (XB-NEWS; P.I.: <b>Dave Russell</b>) - Abu Dhabi, UAE</p>
        <p>Created and programmed by <b><a href="http://www.danidl.co.uk/">Daniel Bramich</a></b> (dan.bramich@hotmail.co.uk)</p>
        <hr>
    </footer>
</div>


<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/spin.min.js"></script>
<script src="../../static/js/ladda.min.js"></script>
<script src="../../static/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-1.11.3.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.navgoco.js"></script>
<script src="../../static/js/bootstrap-datepicker.js"></script>
<script src="../../static/js/main.js"></script>

</body>
</html>
