<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>XB-NEWS: X-ray Binary New Early Warning System</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../../../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../../../static/css/main.css">
    <link rel="stylesheet" href="../../../../../../static/css/datepicker.css">
    <link rel="stylesheet" href="../../../../../../static/css/ladda-themeless.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!--Include your brand here-->
        <a class="navbar-brand" href="#">Pipeline Overview</a>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6">
        </div>
    </div>
</div>

<div class="container">

    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
            <td>Go to:</td>
            <td>
            {% if running == 1 %}
                Pipeline Controller: <font color="Lime">Running</font>
            {% else %}
                <font color="Red"><h2>ATTENTION: The pipeline controller is NOT RUNNING!</h2></font>
            {% endif %}
            </td>
            </tr>
            <tr>
            <td><a href="../../../../../..">Home Page</a></td>
            <td><a href="../../../../../../pipeline">Pipeline Overview</a></td>
            </tr>
            <tr>
            <td><a href="../../../../../../targets">Target List</a></td>
            <td><a href="../../../../../../pipeline/failures">Pipeline Failures</a></td>
            </tr>
            <tr>
            <td><a href="../../../../../../targets/download-matrix">Target Download-Matrix</a></td>
            <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Example row of columns -->

    <header><h2>Quicklook-Reduced Science Image: <a href="../../../../../../static/data/{{ quicklook_entry["key_fits_path"] }}">{{ quicklook_entry["key_image_name"] }}</a></h2></header>
    [<a href="../../../../../../pipeline/{{ where_from_1 }}/header/science/quicklook/{{ quicklook_entry["target_name"] }}/{{ quicklook_entry["key_basename"] }}">Full Header</a>]
    [<a href="../../../../../../pipeline/{{ where_from_1 }}/science/{{ where_from_2 }}/{{ quicklook_entry["key_site_code"] }}/{{ quicklook_entry["key_telescope"] }}/{{ quicklook_entry["key_instrument"] }}/{{ quicklook_entry["key_filter"] }}">back to "Summary By Frame"</a>]

    <br>
    <br>

    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
            <td><b>Target:</b></td>
            <td><nobr><a href="../../../../../../targets/individual/{{ quicklook_entry["target_name"] }}">{{ quicklook_entry["target_name"].replace('_', ' ') }}</a></nobr></td>
            <td><b>Night:</b></td>
            <td>{{ quicklook_entry["key_night"] }}</td>
            </tr>
            <tr>
            <td><b>Pipeline:</b></td>
            <td>{{ quicklook_entry["key_pipeline"] }}</td>
            <td><nobr><b>Date Obs:</b></nobr></td>
            <td>{{ quicklook_entry["key_dateobs"] }}</td>
            </tr>
            <tr>
            <td><b>Site:</b></td>
            <td><nobr>{{ quicklook_entry["key_site"] }}</nobr></td>
            <td><nobr><b>UT Start:</b></nobr></td>
            <td>{{ quicklook_entry["key_utstart"] }}</td>
            </tr>
            <tr>
            <td><b>Telescope:</b></td>
            <td>{{ quicklook_entry["key_telescope"] }}</td>
            <td><nobr><b>MJD At Mid-Exposure (days; UTC):</b></nobr></td>
            <td>{{ quicklook_entry["key_mjd_utc"] }}</td>
            </tr>
            <tr>
            <td><b>Instrument:</b></td>
            <td>{{ quicklook_entry["key_instrument"] }}</td>
            <td><b>Binning:</b></td>
            <td>{{ quicklook_entry["key_binning"] }}</td>
            </tr>
            <tr>
            <td><b>Filter:</b></td>
            <td>{{ quicklook_entry["key_filter"] }}</td>
            <td><b>Gain (e-/ADU):</b></td>
            <td>{{ quicklook_entry["key_gain"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Commanded Telescope R.A.:</b></nobr></td>
            <td>{{ quicklook_entry["key_ra"] }}</td>
            <td><b>Readout Noise (e-):</b></td>
            <td>{{ quicklook_entry["key_ron"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Commanded Telescope Dec.:</b></nobr></td>
            <td>{{ quicklook_entry["key_dec"] }}</td>
            <td><b>Size:</b></td>
            <td>{{ quicklook_entry["key_size"] }}</td>
            </tr>
            <tr>
            <td><b>Stage 1:</b></td>
            {% if quicklook_entry["s1"] == '-1' %}
                <td><font color="red">Failed: {{ quicklook_entry["s1_failure"].replace('_', ' ') }}</font></td>
            {% elif quicklook_entry["s1"] == '0' %}
                <td><font color="orange">To Be Processed</font></td>
            {% elif quicklook_entry["s1"] == '1' %}
                <td><font color="green">Success</font></td>
            {% endif %}
            <td><nobr><b>Exposure Time (s):</b></nobr></td>
            <td>{{ quicklook_entry["key_exptime"] }}</td>
            </tr>
            <tr>
            <td><b>Stage 2:</b></td>
            {% if quicklook_entry["s2"] == '-1' %}
                <td><font color="red">Failed: {{ quicklook_entry["s2_failure"].replace('_', ' ') }}</font></td>
            {% elif quicklook_entry["s2"] == '0' %}
                <td><font color="orange">To Be Processed</font></td>
            {% elif quicklook_entry["s2"] == '1' %}
                <td><font color="green">Success</font></td>
            {% endif %}
            <td><nobr><b>Effective Mean Airmass:</b></nobr></td>
            <td>{{ quicklook_entry["key_airmass"] }}</td>
            </tr>
            <tr>
            <td><b>Stage 3:</b></td>
            {% if quicklook_entry["s3"] == '-1' %}
                <td><font color="red">Failed: {{ quicklook_entry["s3_failure"].replace('_', ' ') }}</font></td>
            {% elif quicklook_entry["s3"] == '0' %}
                <td><font color="orange">To Be Processed</font></td>
            {% elif quicklook_entry["s3"] == '1' %}
                <td><font color="green">Success</font></td>
            {% endif %}
            <td><nobr><b>Moon Visibility:</b></nobr></td>
            <td>{{ quicklook_entry["key_moon_status"] }}</td>
            </tr>
            <tr>
            <td><b>Stage 4:</b></td>
            {% if quicklook_entry["s4"] == '-1' %}
                <td><font color="red">Failed: {{ quicklook_entry["s4_failure"].replace('_', ' ') }}</font></td>
            {% elif quicklook_entry["s4"] == '0' %}
                <td><font color="orange">To Be Processed</font></td>
            {% elif quicklook_entry["s4"] == '1' %}
                <td><font color="green">Success</font></td>
            {% endif %}
            <td><nobr><b>Moon Illuminated Fraction:</b></nobr></td>
            <td>{{ quicklook_entry["key_moon_fraction"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Bad Pixel Mask:</b></nobr></td>
            {% if quicklook_entry["key_masklink"] != None %}
                <td><a href="../../../../../../pipeline/frame/mask/{{ quicklook_entry["key_masklink"] }}">{{ quicklook_entry["key_maskname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>Moon Distance From Target (deg):</b></nobr></td>
            <td>{{ quicklook_entry["key_moon_distance"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Master Bias Frame:</b></nobr></td>
            {% if quicklook_entry["key_biaslink"] != None %}
                <td><a href="../../../../../../pipeline/frame/bias/{{ quicklook_entry["key_biaslink"] }}">{{ quicklook_entry["key_biasname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>Moon Altitude (deg):</b></nobr></td>
            <td>{{ quicklook_entry["key_moon_altitude"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Master Dark Frame:</b></nobr></td>
            {% if quicklook_entry["key_darklink"] != None %}
                <td><a href="../../../../../../pipeline/frame/dark/{{ quicklook_entry["key_darklink"] }}">{{ quicklook_entry["key_darkname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>Sun Distance From Target (deg):</b></nobr></td>
            <td>{{ quicklook_entry["key_sun_distance"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Master Flat Frame:</b></nobr></td>
            {% if quicklook_entry["key_flatlink"] != None %}
                <td><a href="../../../../../../pipeline/frame/flat/{{ quicklook_entry["key_flatlink"] }}">{{ quicklook_entry["key_flatname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>Sun Altitude (deg):</b></nobr></td>
            <td>{{ quicklook_entry["key_sun_altitude"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Raw Science Image:</b></nobr></td>
            {% if quicklook_entry["key_rawlink"] != None %}
                <td><a href="../../../../../../pipeline/{{ where_from_1 }}/frame/science/raw/{{ quicklook_entry["key_rawlink"] }}">{{ quicklook_entry["key_rawname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>No. Of Masked Pixels ({{ quicklook_entry["key_pipeline"] }}):</b></nobr></td>
            <td>{{ quicklook_entry["key_nmask_pix"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Final-Reduced Science Image:</b></nobr></td>
            {% if quicklook_entry["key_reducedlink"] != None %}
                <td><a href="../../../../../../pipeline/{{ where_from_1 }}/frame/science/all/{{ quicklook_entry["key_reducedlink"] }}">{{ quicklook_entry["key_reducedname"] }}</a></td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><nobr><b>Sky Background Level (ADU):</b></nobr></td>
            <td>{{ quicklook_entry["key_sky_level"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Astrometric Solution Type:</b></nobr></td>
            <td>{{ quicklook_entry["key_astrometric_solution"] }}</td>
            <td><nobr><b>Sky Sigma (ADU):</b></nobr></td>
            <td>{{ quicklook_entry["key_sky_sigma"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Image Centre R.A.:</b></nobr></td>
            <td>{{ quicklook_entry["key_imcen_ra"] }}</td>
            <td><nobr><b>Fraction Of Pixels Used For Sky:</b></nobr></td>
            <td>{{ quicklook_entry["key_sky_fracpix"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Image Centre Dec.:</b></nobr></td>
            <td>{{ quicklook_entry["key_imcen_dec"] }}</td>
            <td><nobr><b>No. Of Masked Pixels (XB-NEWS):</b></nobr></td>
            <td>{{ quicklook_entry["key_n_all_mask_pix"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Pixel Scale (arcsec/pix):</b></nobr></td>
            <td>{{ quicklook_entry["key_pix_scale"] }}</td>
            <td><nobr><b>Fraction Of Pixels Masked (XB-NEWS):</b></nobr></td>
            <td>{{ quicklook_entry["key_mask_fracpix"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Target Dist. From Image Centre (arcmin):</b></nobr></td>
            <td>{{ quicklook_entry["key_target_dcen_arcmin"] }}</td>
            <td><nobr><b>PSF FWHM (pix):</b></nobr></td>
            <td>{{ quicklook_entry["key_psf_fwhm"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Photometry Flag:</b></nobr></td>
            <td><nobr>{{ quicklook_entry["key_phot_flag"].replace('_', ' ') }}</nobr></td>
            <td><nobr><b>PSF Ellipticity:</b></nobr></td>
            <td>{{ quicklook_entry["key_psf_ell"] }}</td>
            </tr>
            <tr>
            <td><nobr><b>Target Flux Upper Limit (ADU):</b></nobr></td>
            <td>{{ quicklook_entry["key_flux_upper_limit_adu"] }}</td>
            <td><nobr><b>No. Of Stars Detected:</b></nobr></td>
            <td>{{ quicklook_entry["key_nsources"] }}</td>
            </tr>
        </tbody>
    </table>

    {% if quicklook_entry["s1"] == '1' %}

        Bad pixels marked in <font color="red">LIGHT RED</font>
        {% if quicklook_entry["s2"] == '1' %}<br>Target marked with <font color="darkred">DARK RED</font> cross hairs
                                                 (Note: Placement precision limited by PNG conversion, not astrometric solution){% endif %}
        <br><a href="../../../../../../pipeline/{{ where_from_1 }}/fullframe/science/quicklook/{{ quicklook_entry["target_name"] }}/{{ quicklook_entry["key_basename"] }}"><img src="../../../../../../static/data/{{ quicklook_entry["key_png_path"] }}"></a>

        {% if quicklook_entry["s2"] == '1' %}

            <br>
            <br>
            <header><h3>Stage 2 Data Products:</h3></header>

            <table class="table table-condensed table-bordered">
                <tbody>
                    <tr>
                    <td><nobr><b>Reduced Science Image:</b></nobr></td>
                    <td><a href="../../../../../../static/data/{{ quicklook_entry["key_sci_path"] }}">{{ quicklook_entry["key_basename"] + '.sci.fits' }}</a></td>
                    </tr>
                    <tr>
                    <td><nobr><b>Bad Pixel Mask:</b></nobr></td>
                    <td><a href="../../../../../../static/data/{{ quicklook_entry["key_bpm_path"] }}">{{ quicklook_entry["key_basename"] + '.bpm.fits' }}</a></td>
                    </tr>
                    <tr>
                    <td><nobr><b>Star List:</b></nobr></td>
                    <td><a href="../../../../../../static/data/{{ quicklook_entry["key_stars_path"] }}">{{ quicklook_entry["key_basename"] + '.stars.fits' }}</a></td>
                    </tr>
                </tbody>
            </table>

            <header><h3>Stage 2 Diagnostic Plots (Multi-Aperture Photometry):</h3></header>

            {% if quicklook_entry["key_phot_flag"] == 'FAP_and_MAP' %}
                <img src="../../../../../../static/data/{{ quicklook_entry["key_plot1_path"] }}">
                <br>
                <img src="../../../../../../static/data/{{ quicklook_entry["key_plot2_path"] }}">
            {% else %}
                Only fixed aperture photometry was performed on this image, and therefore there are no diagnostic plots.
            {% endif %}

        {% endif %}

    {% endif %}


    <footer>
        <hr>
        Web page generation performance:
        <br>Data read: {{ t1 }} s
        <br>Data analysis: {{ t2 }} s
        <br>
        <hr>
        <p><b>X-ray Binary New Early Warning System</b> (XB-NEWS; P.I.: <b>Dave Russell</b>) - Abu Dhabi, UAE</p>
        <p>Created and programmed by <b><a href="http://www.danidl.co.uk/">Daniel Bramich</a></b> (dan.bramich@hotmail.co.uk)</p>
        <hr>
    </footer>
</div>


<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../../../../../static/js/spin.min.js"></script>
<script src="../../../../../../static/js/ladda.min.js"></script>
<script src="../../../../../../static/js/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-1.11.3.min.js"><\/script>')</script>
<script src="../../../../../../static/js/bootstrap.min.js"></script>
<script src="../../../../../../static/js/jquery.navgoco.js"></script>
<script src="../../../../../../static/js/bootstrap-datepicker.js"></script>
<script src="../../../../../../static/js/main.js"></script>

</body>
</html>
